body{
    
    background: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;

}
.cover img{
    background-size: cover;
    height: 530px ;
    width: 1328px;
}

.txt{
    position: absolute;
    top:30%;
    left:70%;
    border: 1px solid rgb(0, 0, 0);

    box-shadow: 1px 2px 2px;
    text-align: center;
}
h1{
   font-size: 70px;
   font-family: barlow condensed,sans-serif;
    text-transform: capitalize;
    width: 400px; 
    word-spacing: 0px;
    font-weight: lighter;
    line-height: 72px;

}
.image2{
  position: absolute;
  left: 5%;
  top:85%;
  border: 1px solid darkgray;
  box-shadow: 1px 2px 4px;

}
h6{
    color: black;
    position:absolute;
    left:25%;
    top:5%;
    border: 3px solid black;
    width: 200px ;
    font-size: 40px;
    font-family: 'barlow', Courier, monospace;
    background-color: whitesmoke;
    font-weight:normal ;
    text-align: center;

}
h4{
    font-family: barlow condensed,sans-serif;
    font-size: 12px;
    position: absolute;
    top:10%;
    left: 91%;
    color: white;
}
h5{
    font-family: barlow condensed,sans-serif;
    font-size: 12px;
    position: absolute;
    top:9%;
    left: 84%;
    color: white;
}
.image2:hover{
box-shadow: 1px 3px 9px;
}
.image3{
position: absolute;
left: 60%;
top: 85%;
border: 1px solid darkgray;
box-shadow: 1px 2px 4px;
}
.image3:hover{
    box-shadow: 1px 3px 9px;
    }
.h{
    color: black;
    position:absolute;
    left:30%;
    top:20%;
    border: 3px solid black;
    width: 200px ;
    font-size: 40px;
    font-family: 'barlow', Courier, monospace;
    background-color: whitesmoke;
    font-weight:normal ;
    text-align: center; 

}
  .input-group-btn{
    position: relative;
    left:77%;
    top:50%; 
  }









  /*image slides*/
.slider{
    width: 700px;
    height: 400px;
    overflow: hidden;

position: relative;
z-index: 0;
}
.slidershow{
    width: 700px;
    height: 400px;
    overflow: hidden;
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);

}
.dots{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;

}
.bar{
    width: 30px;
    height: 30px;
    border: 4px solid rgb(255, 253, 253);
    margin: 10px;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 20px;
    background-color: black;
}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.slides{
    width: 500%;
    height: 100%;
    display: flex;
}
.slide{
    width: 20%;
    transition: 0.6s;
}
.slide img{
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1{
    margin-left: 0%;

}
#r2:checked ~ .s1{
    margin-left: -20%;
    
}
#r3:checked ~ .s1{
    margin-left: -40%;
    
}