body{
    margin: 0;
    padding: 0;
    background: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;

}
.menu ul{
list-style: none;
background: black;
padding: 0;
margin: 0;
text-align: center;

}
.menu li{
    display: inline-block;

}
.menu a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 100px;
    display: block;
    padding: 25px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;

}

ol li a:hover{
    border-bottom: 4px solid red;
}
.fa-search{
    position:absolute;
    left:82%;
    top:2%;
    color: black;
     
}
.fa-user{
    position:absolute;
    left:85%;
    top:2%;
    color: black;
     
}
.fa-shopping-cart{
    position: absolute;
    left:88%;
    top:2%;
    color: black;
    width: 25px;
    height: -30px;
    border-radius: 100px;
    background-color: whitesmoke;
    margin-top: -4px;
    text-align: left;


}
.cover img{
    background-size: cover;
    height: 530px ;
    width: 1328px;
}

.text{
    position: absolute;
    top:20%;
    left:70%;
}
h1{
   font-size: 70px;
   font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
    width: 400px; 

}
.image2{
  position: absolute;
  left: 5%;
  top:85%;
  border: 1px solid darkgray;
  box-shadow: 1px 2px 4px;

}
h6{
    color: black;
    position:absolute;
    left:20%;
    top:5%;
    border: 3px solid black;
    width: 200px ;
    font-size: 40px;
    font-family: 'barlow', Courier, monospace;
    background-color: whitesmoke;
    font-weight:normal ;
    text-align: center;

}
.image2:hover{
box-shadow: 1px 3px 9px;
}
.image3{
position: absolute;
left: 60%;
top: 80%;
border: 1px solid darkgray;
box-shadow: 1px 2px 4px;
}
.image3:hover{
    box-shadow: 1px 3px 9px;
    }
h{
    color: black;
    position:absolute;
    left:30%;
    top:20%;
    border: 3px solid black;
    width: 200px ;
    font-size: 40px;
    font-family: 'barlow', Courier, monospace;
    background-color: whitesmoke;
    font-weight:normal ;
    text-align: center; 
}