/*body{
    margin: 20px;
    padding: 10px;
    background: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;

}
header{
    background-color:black;
}

.menu ul{
list-style: none;
background: black;
padding: 0;
margin: 0;
text-align: center;

}
.menu li{
    display: inline-block;
    margin: 3% 1%;   
}
.menu a{
    text-decoration: none;
    color:white;
    width: 100%;
    display: block;
      
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    
}

ol li a:hover{
    border-bottom: 4px solid red;
}


.login{
    position: absolute;
    left:83%;
    top:6%;
    color: black;
    width: 3%;
    background-color: whitesmoke;
    margin-top: -4px;
    text-align: left;
    z-index: 2;  
}
.login img{
    width: 100%; 
    position: absolute;
    top: 2%;
    left: 1%; 
    border-radius: 10px;
}
.shopping-cart{
    position: absolute;
    left:90%;
    top:6%;
    color: black;
    width: 3%;
    background-color: whitesmoke;
    margin-top: -4px;
    text-align: left;
    z-index: 2;


}
.shopping-cart img{
width: 100%;
border-radius: 10px;
}
input[type=text], select {
    position: absolute;
    top: 3%;
    left:58%;
    width: 20%;
    padding: 12px 12px; 
    margin: 20px 0;
    display: inline-block;
    border: 1px solid rgb(27, 27, 27);
    border-radius: 4px;
    box-sizing: border-box;
  }*/

  
  .navlink{
      text-decoration: none;
      color: white;
      white-space: nowrap;
  }
  .navlink:hover{
        color: #106cfc;
    }
  .wrapper{
    max-width: 450px;
    margin: 150px auto;
  }

  /*shooping cart dropdown*/

.cartdata{
    width: 30%;
    position: absolute;
    z-index: 2;
    border: solid black;
    margin-top: -9.7rem;
    margin-left: 68%;
    max-height: 0%;
    background-color: white;
    transition: 1s;
  }
  .cartdatarow{
    padding: 2%;
  }
  .cartdatarowlink{
    text-decoration: none;
  }
  .cartdatarowimg{
    width: 25%;
}
.cartdatarowtext{
    font-size: 15px;
    color: black;
}
.cartdatarowtext:hover{
    color:#106cfc;
}

/*search box*/
#list{
    position: absolute;
    width: 70%;
    left: 17%; 
    top:11%;
    background-color:whitesmoke;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
    z-index: 3;


  }

  .listeditem{
      text-decoration: none;
      color: black;
  }
  .listeditem li{
      list-style: none;
      padding: 1% 0%;
  }
  .cartnumber{
    margin-left: -2.4rem;
    margin-top: -0.1rem;
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
    display: none;
  }

  .cartnumberelement{
    color: white;
    width: 100%;
    margin-left: -0.3rem;
    font-size: 1rem;
  }

.accessories-menu{
    background-color: white;
    display: none;
    margin-left: 36.5%;
    border: solid black;
    width: 10rem;
    z-index: 4;
    position: absolute;
    border-radius: 5%;
    margin-top: -10.5%;
}
.accessories-menu a{
    text-decoration: none;
}
.accessories-item{
    list-style: none;
    color: black;
}
.accessories-item:hover{
    color: 106cfc;
}