body{
    margin: 0;
    padding:0;
    font-family: sans-serif;
    background:linear-gradient(135deg,#7df9ff,#0892d0, #23b2ee );
}
.box{
width: 300px;
padding: 30px;
position: absolute;
top: 20%;
left: 40%;
background: white;
border-radius: 15px;
text-align: center;
}

.box form{
    box-sizing: border-box;
    padding: 1%;
    margin: 22px;

}

.felt{
    border-bottom: 2px solid;
    position: relative;
    margin: 30px 1;

}

.felt input{
    width: 300px;
    padding: 5px;
    border-block-color:purple;
    border-bottom: 6px solid;
}

.btn{
    position: relative;
    display: inline-block;
    padding: 1% 30%;
    background-image: repeating-linear-gradient(45deg,black,black);
    border-block-end-style: revert;
    color: white;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 600;
    margin: 2%;

}

.btn-field{
    position: relative;
    display: inline-block;
    padding: 5% 10%;
    background-image: repeating-linear-gradient(135deg,#0f1213,#0892d0, #23b2ee);
    border-block-end-style: revert;
    color: white;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 600;
}
.reg-felt{
    background: linear-gradient(135deg,#7df9ff,#0892d0, #23b2ee );
    padding: 1% 5%;
}
.reg-felt input{
    width: 100%;
    padding: 2% 2%;
    margin: 2% 0%;
}
