<html>
    
    <head>
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/styleAdmin.css">
    
    <meta charset="utf-8">
    
    </head>
    <body class="body">
        <form class ="box" method="POST" action="http://localhost:5000/admin/" enctype="multipart/form-data"> 
            <h1>Add a new product</h1>
            <input type="file" class="imageChooser" accept="*/, .jpg, .png" name="pictures">
            <div class="subBox">
                <h3>Name</h3>
                <input type="text" class="inputName">
            </div>
            <div class="subBox">
                <h3>Price</h3>
                <input type="number" class="inputPrice">
            </div>
            <div class="subBox">
                <h3>Category</h3>
                <select class="selectCategory">
                    <option value="">Select a category</option>
                </select>
            </div>
            <div class="subBoxC">
                <h3>Description</h3>
                <textarea class="inputDescription"></textarea>
            </div>
            <div class="spesBox">
                <button type="button" class="btnaddTitle" onclick="setupSpecifications()">Add specification</button>
            </div>
            <div class="subBoxE">
                <input type="submit" onclick="return submitProduct()" value="Submit product">
            </div>
        </form>
    
    </body>

    <script>
        var times = 0;
        var amountOfSpecs = [];

        function addCategoriesToSelect() {
            var request = new XMLHttpRequest();
            request.onreadystatechange = function(){
                if(this.readyState === 4 && this.status === 200){
                    var select = document.getElementsByClassName("selectCategory")[0];
                    var json = JSON.parse(this.responseText);
                    var keys = Object.keys(json);
                    for(var i = 0; i < keys.length; i++){
                        var option = document.createElement("option");
                        option.innerHTML = json[keys[i]].Category;
                        option.setAttribute("value", json[keys[i]].Category_id);

                        select.appendChild(option);
                    }
                }
            }

            request.open("GET", "http://localhost:5000/Categories/");
            request.send()
        }addCategoriesToSelect();

        function setupSpecifications(){
            //btnaddTitle =  document.getElementsByClassName("btnaddTitle");
            //btnaddTitle[0].onclick = function(){
            var div1 = document.createElement("div");
            div1.setAttribute("class", "rowInfo");
            var inpT = document.createElement("input");
            inpT.setAttribute("class", "inputTitle");

            var div2 = document.createElement("div");
            div2.setAttribute("class", "rowDetails");
            var div3 = document.createElement("div");
            var div4 = document.createElement("div");
            div4.setAttribute("class", "spesboxT")
            var inpN = document.createElement("input");
            inpN.setAttribute("class", "rowDetailsName"+times)
            var inpV = document.createElement("input");
            inpV.setAttribute("class", "rowDetailsValue"+times);
            var h31 = document.createElement("h3");
            h31.innerHTML = "Name";
            var h32 = document.createElement("h3");
            h32.innerHTML = ":";
            var btn = document.createElement("button");
            btn.innerHTML = "More specifications"
            btn.setAttribute("class", "btnMore");
            btn.setAttribute("value", times);
            btn.setAttribute("type", "button");

            inpN.setAttribute("type", "text");
            inpV.setAttribute("type", "text");
            
            div3.appendChild(inpN);
            div3.appendChild(h32);
            div3.appendChild(inpV);

            div2.appendChild(div3);

            div4.appendChild(h31)
            div4.appendChild(inpT)
            //div1.appendChild(h31);
            div1.appendChild(div4);
            div1.appendChild(div2);
            div1.appendChild(btn);

            document.getElementsByClassName("spesBox")[0].appendChild(div1);
                
            btns = document.getElementsByClassName("btnMore");
             
            for(var i = 0; i < btns.length; i++){
                btns[i].onclick = function(){
                    div1 = document.createElement("div");
                    inpN = document.createElement("input");
                    inpV = document.createElement("input");
                    h3 = document.createElement("h3");

                    inpN.setAttribute("class", "rowDetailsName"+this.value);
                    inpV.setAttribute("class", "rowDetailsValue"+this.value);

                    inpN.setAttribute("type", "text");
                    inpV.setAttribute("type", "text");

                    h3.innerHTML = ":"

                    div1.appendChild(inpN);
                    div1.appendChild(h3);
                    div1.appendChild(inpV);

                    document.getElementsByClassName("rowDetails")[this.value].appendChild(div1)
                }
                    
            }
            times++;
        }
        function submitProduct() {
            //console.log("image: " + document.getElementsByClassName("imageChooser")[0].value)
            //console.log("name: " + document.getElementsByClassName("inputName")[0].value);
            //console.log("price: " + document.getElementsByClassName("inputPrice")[0].value);
            //console.log("selected: " + document.getElementsByClassName("selectCategory")[0].value);
            //console.log("Description: " + document.getElementsByClassName("inputDescription")[0].value);

            var specification = "";
            var boxes = document.getElementsByClassName("rowInfo");
            for(var i = 0; i < boxes.length; i++){

                specification += document.getElementsByClassName("inputTitle")[i].value;
                var rowDetailsName = document.getElementsByClassName("rowDetailsName"+i);
                var rowDetailsValue = document.getElementsByClassName("rowDetailsValue"+i);

                for(var j = 0; j < rowDetailsName.length; j++){ 
                    if(rowDetailsName[j].value != "" && rowDetailsValue[j].value != ""){
                        specification += "," + rowDetailsName[j].value + ":" +
                        rowDetailsValue[j].value;
                    }
                }

                if(specification != ""){
                    specification += ";"
                }
            }

            //Validating the information given
            var productName = document.getElementsByClassName("inputName")[0].value;
            //Making sure the product name field is not empty
            if(productName == null || productName == "" || !isNaN(productName)){
                alert("Please write a valid product name.");
                return false;
            }

            var productPrice = document.getElementsByClassName("inputPrice")[0].value;
            //Checking if the product price field has an integer
            if(productPrice == null || productPrice == "" || isNaN(productPrice) || productPrice < 0) {
                alert("Please write a valid integer as the product price.");
                return false;
            }

            var productCategory = document.getElementsByClassName("selectCategory")[0].value;
            //Making sure a category has been selected
            if(productCategory == ""){
                alert("Please select a category.");
                return false;
            }

            var productDescription = document.getElementsByClassName("inputDescription")[0].value;
            //Product description must be filled with a string
            if(productDescription == null || Number.isInteger(productDescription) || productDescription == ""){
                alert("Please fill the product description with informative text.")
                return false;
            }
            
            //Not validating specification since it can be very broad 
            document.getElementsByClassName("box")[0].action="http://localhost:5000/item/?Name="+productName+"&Price="+productPrice+"&Category_id="+productCategory+ "&Description="+productDescription+"&Specification="+specification;
            return true;
        }
    </script>
    </html>