<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <body>
            <div class = "box">  
            </div>
            <script>
        
        function displayproducts(json,keys){
            for (var i =0; i < keys.length-1; i++){
                console.log(json[keys[i]].Image);
                var div = document.createElement("div");
                var img = document.createElement("img");
                //img.setAttribute("src", "../static/Pictures/"+json[keys[i]].Image);
                var image = "Pictures/"+json[keys[i]].Image;
                console.log(image)
                img.src = "http://localhost:5000/static/"+image
                div.appendChild(img);
                document.getElementsByClassName("box")[0].appendChild(div);

            }
        }

        var http= new XMLHttpRequest()
        var link = window.location.href.split("/")
        var id = link[link.length-2]
        http.open("GET","http://localhost:5000/Sort/"+id+"/")
        http.onreadystatechange=function(){
         
 
        if(this.readyState == 4 && this.status === 200){
            var json = JSON.parse(this.responseText)
            console.log(json)
            
            var keys = Object.keys(json)
            console.log(keys)
            displayproducts(json,keys)
            
            

          
        }
    }
          http.send()
            </script>
        </body>
    </head>



</html>