
<html>
    <head>
        <title>Welcome</title>
        <meta name="google-signin-client_id" content="952836639002-aejo8mld9o48v0rrqnruo4jbuisgas2b.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link rel="stylesheet" href="https://localhost:5000/CSS/front.css">
        <link rel="stylesheet" href="https://localhost:5000/CSS/nav.css">
        
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
    
    
    </head>
    <body>
        <div class="g-signin2" data-onsuccess="onSignIn" style="display: none;"></div>
    <header class="container-fluid p-0">
        <div class="container-fluid bg-Dark">
            <div class="row">
            <div class="col-1 align-self-center p-1">
                <a class="a navlink" href="https://localhost:5000/category/3/" style="margin-left: 25%;">PC</a>
            </div>
            <div class="col-1 align-self-center p-1">
                <a class="a navlink" href="https://localhost:5000/category/4/">Screens</a>
            </div>
            <div class="col-1 align-self-center">
                <a class="a navlink" href="https://localhost:5000/category/2/"> Graphic Cards</a>
            </div>
            <div class="col-1 align-self-center p-1" style="margin-left: 4%;">
                <a class="a navlink" href="https://localhost:5000/category/1/">Processor</a>
            </div>
            <div class="col-2 dropdown p-1">
                

                
                <button class="navlink btn btn-dark dropdown-toggle accessories-toggle" style="margin-top: 0.8rem;">Accessories</button>
                

            </div>
            <div class="col-3 align-self-center p-1">
                <input type="text" id = "livebox"placeholder="Type in an product.." class="form-control" style="border-radius: 15px; ">
            </div>
            <div class="col-1 align-self-center p-1 loginbtn">
                <a  class="a col-12 navlink sendto"><div class="row">
                    
                        <img class="img" src="../static/Pictures/user.png" style="width: 40%;border-radius: 50%;margin-left: 
                        30%;margin-top: 5%;">
                    
                </div>
                <div class="row">
                    <h5 class="h5 sendtotext" style="font-size: 15px;position: relative;top: 0%;left: 0%;" align="center">Login</h5>
                </div></a>
            </div>
            <div class="col-1 align-self-center p-1 cartbtn" tabindex="0">
                <div class="row ">
                    <div class="col-8">
                        <div class="row">
                            <img src="../static/Pictures/cart.png" class="img cartimg" aria-hidden="true" 
                            style="width: 58.5%;border-radius: 50%;margin-left: 22%;margin-top: 5%;">
                            
                        </div>
                        <div class="row">
                            <h4 cclass="h5" style="font-size: 15px;position: relative;top: 0%;left: 0%;color: white;" align="center">Cart</h4>
                        </div>
                    </div>
                    <div class="col-4 bg-primary cartnumber">
                        <p class="cartnumberelement"></p>
                    </div>
                </div>
            </div>
                
        </div>


        
        
        <div class="wrapper">
            <div class="search-input">   
                <p id ="list"></p>
            </div>
        </div>    
    </header>
    <div class="cartdata"></div>
    <ul class="accessories-menu">
        <a href="https://localhost:5000/category/5/"><li class="accessories-item">Headset</li></a>
        <a href="https://localhost:5000/category/6/"><li class="accessories-item">Mouse</li></a>
        <a href="https://localhost:5000/category/7/"><li class="accessories-item">Keyboard</li></a>
        <a href="https://localhost:5000/category/8/"><li class="accessories-item">LED light</li></a>
    </ul>
    
    <div class= "img-logo">
        <img src="../static/Pictures/Newtechno logo.png">
       </div>
    
    
    <div class="slidershow middle">
        
            <div class="slides">
            <input type="radio" name="r" id="r1" checked>
            <input type="radio" name="r" id="r2">
            <input type="radio" name="r" id="r3">
            <div class="slide s1">
               <a href="https://localhost:5000/26/"><img src="../static/Pictures/mac.png" alt="">
            </a>
            </div>
            <div class="slide">
             <a href="https://localhost:5000/12/"><img src="../static/Pictures/Acer.png" alt="">
            </a>
            </div>
            <div class="slide">
                <img src="../static/Pictures/lenovo.png" alt="img3">
            </div>
            
        </div>
        <div class="dots">
            <label for="r1" class="bar"></label>
            <label for="r2"   class="bar"></label>
            <label for="r3"   class="bar"></label>
    
        </div>
    </div>
    
    
    
     <div class="txt align-self-center">
         <h1 class="align-self-center">Supersale on all products</h1>
     </div>

    
        <div class="container displayableproducts" style="margin-top: 40%;"></div>
        <script src="https://localhost:5000/JS/nav.js"></script>
        <script>
            //5 chosen wares being displayed
            var products = [1,6,9,15,12,20];
            var counter = 0;
            var divRimg = null;
            var divRtext = null;
            var divRprice = null;
            var divRbtn = null;
            
            var items = "";
            for(var i = 0; i < products.length-1; i++){
                items += products[i] + ",";
            }items+=""+products[products.length-1];

            $.get("https://localhost:5000/item/?Items="+items, function(value){
                
                $.each(value, function(id,data){
                    if(counter % 3 == 0){
                        divRimg = document.createElement("div");
                        divRimg.setAttribute("class", "row");
                        document.getElementsByClassName("displayableproducts")[0].appendChild(divRimg);
                        
                        divRtext = document.createElement("div");
                        divRtext.setAttribute("class", "row");
                        document.getElementsByClassName("displayableproducts")[0].appendChild(divRtext);

                        divRprice = document.createElement("div");
                        divRprice.setAttribute("class", "row");
                        document.getElementsByClassName("displayableproducts")[0].appendChild(divRprice);

                        divRbtn = document.createElement("div");
                        divRbtn.setAttribute("class", "row");
                        document.getElementsByClassName("displayableproducts")[0].appendChild(divRbtn);
                    }

                    var divC = document.createElement("div");
                    divC.setAttribute("class", "col-4 itemcol")

                    var div = document.createElement("div");
                    div.setAttribute("class", "row");
                    div.onclick = function(){
                        window.location = "https://localhost:5000/"+id+"/";
                    }

                    var img  = document.createElement("img");
                    img.setAttribute("class", "img offset-2 col-8 itemimg");
                    img.setAttribute("style","object-fit:scale-down;")
                    img.setAttribute("src", "https://localhost:5000/static/Pictures/"+data.Image);
                    div.appendChild(img);

                    divC.appendChild(div);
                    divRimg.appendChild(divC);

                    var divC = document.createElement("div");
                    divC.setAttribute("class", "col-4 itemcol p-1")

                    div = document.createElement("div");
                    div.setAttribute("class", "row");
                    div.onclick = function(){
                        window.location = "https://localhost:5000/"+id+"/";
                    }

                    var text = document.createElement("p");
                    text.setAttribute("class", "h6");
                    text.setAttribute("align", "center");
                    text.innerHTML = data.Name;
                    div.appendChild(text);

                    divC.appendChild(div);
                    divRtext.appendChild(divC)
                    
                    var divC = document.createElement("div");
                    divC.setAttribute("class", "col-4 itemcol pl-5 pr-5")

                    div = document.createElement("div");
                    div.setAttribute("class", "row");
                    div.setAttribute("value", id);
                    div.onclick = function(){
                        window.location = "https://localhost:5000/"+id+"/";
                    }

                    text = document.createElement("p");
                    text.setAttribute("class", "h6");
                    text.setAttribute("align", "center")
                    text.innerHTML = data.Price + ",-";
                    div.appendChild(text);
                    divC.appendChild(div);
                    divRprice.appendChild(divC);

                    var divC = document.createElement("div");
                    divC.setAttribute("class", "col-4 itemcol p-3")

                    div = document.createElement("div");
                    div.setAttribute("class", "row");

                    btn = document.createElement("btn");
                    btn.setAttribute("class", "btn btn-primary");
                    btn.setAttribute("align", "center")
                    btn.value = id;
                    btn.innerHTML = "Add to cart";

                    btn.onclick = function(){
                        var user = JSON.parse(localStorage.getItem("user"))
                        if(user == null){
                            localStorage.setItem("PrevPage", window.location.href);
                            window.location = "https://localhost:5000/"
                        }

                        var request = new XMLHttpRequest();
                        var id = this.value;
                        request.open("POST", "https://localhost:5000/Cart/?User_id="+user.user_id+"&Product_id="+id+"&Amount="+1, true);
                        request.onreadystatechange = function(){
                            if(this.readyState == 4 && this.status === 200){
                                var answer = window.confirm("Added to cart, would you like to keep shopping?")
                                getcart()
                                if(!answer){ //go to Cart
                                    
                                    window.location = "https://localhost:5000/cart/"
                                }
                            }
                            else if(this.readyState == 4 && this.status != 200){
                            
                            window.location = "https://localhost:5000/Login/"
                            
                            }
                        }
                        request.send();
                    }
                    div.appendChild(btn);
                    divC.appendChild(div);
                    divRbtn.appendChild(divC)
                        
                    //divR.appendChild(divC);
                    counter++;
                })
            })
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    </body>

    </html>