
<html>
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" href="../static/front.css">
        
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../static/front_page.js"></script>
    
    
    </head>
    <body>
       
  <header>
    <div class="menu">
    <ol>
    <li><a href="">PC</a></li>
    <li><a href="">Screens</a></li>
    <li><a href=""> Graphic Cards</a></li>
    <li><a href="">Processor</a></li>
    <li><a href="">Accessories</a></li>
    
    
    </ol>
    
    
        <div class="login">
            <a href="http://localhost:5000/Login/">
            <img src="../static/Pictures/user.png">
            </a>
        
        </div>
       
    
        <div class="shopping-cart">
        <img src="../static/Pictures/cart.png" onclick="showcart()" aria-hidden="true"></i>
    </div>
   
    </div>
    </div>
    
    </div>


    <input type="text" id = "livebox"placeholder="Type in an product..">
      
    <div class="wrapper">
        <div class="search-input">   
            <p id ="list"></p>
       <div class="autocom-box">
       
       </div>
       <!----<div class="icon"><i class="fa fa-search"></i></div>--->
   </div>
   </div>
   </div>
    
  </header>
  <div class="cartdata"></div>
    
    
    
    
    <div class="slidershow middle">
        
            <div class="slides">
            <input type="radio" name="r" id="r1" checked>
            <input type="radio" name="r" id="r2">
            <input type="radio" name="r" id="r3">
            <div class="slide s1">
                <img src="../static/Pictures/mac.png" alt="">
            </div>
            <div class="slide">
                <img src="../static/Pictures/Acer.png" alt="">
            </div>
            <div class="slide">
                <img src="../static/Pictures/lenovo.png" alt="img3">
            </div>
            
        </div>
        <div class="dots">
            <label for="r1" class="bar"></label>
            <label for="r2"   class="bar"></label>
            <label for="r3"   class="bar"></label>
    
        </div>
    </div>
    
    
    
     <div class="txt">
         <h1>Supersalg på alle varer</h1>
     </div>
    </div>
        </div>
    
    
        
    
    
    
    
    
    
    
    
    
        <div class="image2">
            <image src="../static/Pictures/pc.jpg" height="300" width="300"></image>
            <h6>PC</h6>
        </div>
        <div class="image3">
            <image src="../static/Pictures/screen.png"></image>
            <h6>Skjermer</h6>
        </div>
    
    </body>

    </html>