 <html>
    
<head>
<title>Login Page</title>
<link rel="stylesheet" href="../static/style.css">   <!---Linked my stylesheet---->

<meta charset="utf-8">

</head>
<body>
    <div class ="box">
    <div class="btn-field">
        <div id="btn"></div>
       <!---- <button type="button" onclick="login" class="tgl-btn">Log in</button>
        <button type="button" onclick="Register" class="tgl-btn">Register</button>
    </div>
    <form method="post"></form> -->
        <div class = "felt">
           <!---- <label for="usernm">Username</label>
            <input type="text" placeholder="Enter username" name="usernm" required>

            <label for="psswd">Password</label>
            <input type="text" placeholder="Enter password" name="psswd" required>

            <button type="submit" class="btn">Log in</button>
            <label>
                <input type="checkbox" name="remeb"> Remember me 
            </label>

    </div>
 </form> 
    </div> -->

    <form action="Register" class="Register-form">
        <p>You are required to fill in this form to create an account</p>
        <div class="reg-felt">
        <input type="text" placeholder="Enter Firstname" required>
       
        <input type="text" placeholder="Enter Lastname" required>

        <input type="email" placeholder="Enter email" required>

        <input type="text" placeholder="Create username" required>

        <input type="password" placeholder="Create password" required>

        <input type="checkbox" class="checkbox"><span>I accept the terms and conditions</span> 

        <button type="submit" class="btn">Register</button>



    </div>
    </form>



</body>
</html>