 <html>
    
<head>
<title>Login Page</title>
<link rel="stylesheet" href="../static/style.css">   <!---Linked my stylesheet---->

<meta charset="utf-8">

</head>
<body>
    <div class ="box">
    <div class="btn-field">
        <div id="btn"></div>
       <button type="button" onclick="login" class="tgl-btn">Log in</button>
        <button type="button" onclick="Register()" class="tgl-btn">Register</button>
    </div>
    <div id="post">
        <div class = "felt">
            <label for="usernm">Username</label>
            <input type="text" placeholder="Enter username" id="usernm" required>

            <label for="psswd">Password</label>
            <input type="password" placeholder="Enter password" id="psswd" required>

            <button onclick="submit()" class="btn">Log in</button>
            <label>
                <input type="checkbox" name="remeb">Remember me 
            </label>

    </div>
</div>
</div>

<script>
    function Register(){
        window.location="http://localhost:5000/Register/"
    }
function submit(){
    var username= document.getElementById("usernm");
var password = document.getElementById("psswd");

var http= new XMLHttpRequest()
http.open("GET","http://localhost:5000/user/"+username.value+"/" +password.value+"/" )
http.onreadystatechange=function(){

    if(this.readyState == 4 && this.status === 200){
    var json = JSON.parse(this.responseText)
    console.log(json)
    window.localStorage.setItem("user",JSON.stringify(json));
    if(window.localStorage.getItem("PrevPage") == null){
        window.location = "http://localhost:5000/"
    }else{
        window.location = window.localStorage.getItem("PrevPage");
    }

}

}
http.send();

}


</script>


</body>
</html>