<!DOCTYPE html>
<html>
    
    <head>
    <title></title>
    <meta name="google-signin-client_id" content="952836639002-aejo8mld9o48v0rrqnruo4jbuisgas2b.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://localhost:5000/CSS/nav.css">
    
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    </head>
    <body>
        <div class="g-signin2" data-onsuccess="onSignIn" style="display: none;"></div>
        <header class="container-fluid p-0">
            <div class="container-fluid bg-Dark" style="background-color: #212529;">
                <div class="row">
                <div class="col-1 align-self-center p-1">
                    <a class="a navlink" href="https://localhost:5000/category/3/" style="margin-left: 25%;">PC</a>
                </div>
                <div class="col-1 align-self-center p-1">
                    <a class="a navlink" href="https://localhost:5000/category/4/">Screens</a>
                </div>
                <div class="col-1 align-self-center ">
                    <a class="a navlink" href="https://localhost:5000/category/2/"> Graphic Cards</a>
                </div>
                <div class="col-1 align-self-center p-1 " style="margin-left: 4%;">
                    <a class="a navlink" href="https://localhost:5000/category/1/">Processor</a>
                </div>
                <div class="col-2 dropdown p-1">
                    
    
                    
                    <button class="navlink btn btn-dark dropdown-toggle accessories-toggle" style="margin-top: 0.8rem;">Accessories</button>
                    
    
                </div>
                <div class="col-3 align-self-center p-1">
                    <input type="text" id = "livebox"placeholder="Type in an product.." class="form-control" style="border-radius: 15px; ">
                </div>
                <div class="col-1 align-self-center p-1 loginbtn">
                    <a  class="a col-12 navlink sendto"><div class="row">
                        
                            <img class="img" src="../static/Pictures/user.png" style="width: 40%;border-radius: 50%;margin-left: 
                            30%;margin-top: 5%;">
                        
                    </div>
                    <div class="row">
                        <h5 class="h5 sendtotext" style="font-size: 15px;position: relative;top: 0%;left: 0%;" align="center">Login</h5>
                    </div></a>
                </div>
                <div class="col-1 align-self-center p-1 cartbtn" tabindex="0">
                    <div class="row ">
                        <div class="col-8">
                            <div class="row">
                                <img src="../static/Pictures/cart.png" class="img cartimg" aria-hidden="true" 
                                style="width: 58.5%;border-radius: 50%;margin-left: 22%;margin-top: 5%;">
                                
                            </div>
                            <div class="row">
                                <h4 cclass="h5" style="font-size: 15px;position: relative;top: 0%;left: 0%;color: white;" align="center">Cart</h4>
                            </div>
                        </div>
                        <div class="col-4 bg-primary cartnumber">
                            <p class="cartnumberelement"></p>
                        </div>
                    </div>
                </div>
                    
            </div>
    
    
    
            
            <div class="wrapper">
                <div class="search-input">   
                    <p id ="list"></p>
                </div>
            </div>    
        </header>
        <div class="cartdata"></div>
        <ul class="accessories-menu">
            <a href="https://localhost:5000/category/5/"><li class="accessories-item">Headset</li></a>
            <a href="https://localhost:5000/category/6/"><li class="accessories-item">Mouse</li></a>
            <a href="https://localhost:5000/category/7/"><li class="accessories-item">Keyboard</li></a>
            <a href="https://localhost:5000/category/8/"><li class="accessories-item">LED light</li></a>
        </ul>

        <div class="home-btn" style= "margin-top:-10%;">
            <a href="https://localhost:5000/"> <button style="margin-left:0%; position: relative; width: 15%; height: 5%; font-family: sans-serif; font-size: initial; color:white;background-color: black;" > Home page <i class="fa fa-home"></i></button></a>
            
          </div>

        <div class ="container" style="margin-top: 3%;">
            <div class="row gx-5 align-items-center">
                <div class="productHeader col-8"></div>

                <div class="col-4">
                    <div class="p-3 border">
                        <div class="productPricing" align="center">

                        </div>
                    </div>
                </div>

            </div>
            <div class="row productDescription"></div>
            <div class="row productSpecification"></div>
        </div>
        <script src="https://localhost:5000/JS/nav.js"></script>
        <script>


            var v = window.location.href.split("/");
            var id = v[v.length - 2];
            var product;
            var amount = 1;



            function view(json){
                var productHeader = document.getElementsByClassName("productHeader")[0];
                var text = document.createElement("h2");
                text.innerHTML = json.Name;
                //adding product name 
                productHeader.appendChild(text);

                var request = new XMLHttpRequest();
                request.open("GET", "https://localhost:5000/Category/"+json.Category_id+"/")
                request.onreadystatechange = function (){
                    if(this.readyState == 4 && this.status){
                        var json2 = JSON.parse(this.responseText)[json.Category_id];
                        text = document.createElement("h4");
                        text.innerHTML = json2.Category;
                        //adding the product category
                        productHeader.appendChild(text);

                        var img = document.createElement("img");
                        img.setAttribute("class", "img-fluid productImg");
                        img.setAttribute("style", "width:50%;");
                         //displaying product image
                         if(json.Image == null || json.Image == ""){
                             json.Image = "placeholder.PNG"
                         }
                        img.setAttribute("src", "../static/Pictures/"+json.Image);
                        productHeader.appendChild(img)
                    
                    }
                }
                request.send();
               
                
                //document.getElementsByClassName("productImg")[0].src = "../static/Pictures/"+json[4];


                var productPricing = document.getElementsByClassName("productPricing")[0];
                var div = document.createElement("div");
                div.setAttribute("class", "row");
                textp = document.createElement("h3");
                //text.setAttribute("class", "justify-content-center")

                textp.innerHTML = json.Price + " Kr";
                //displaying product price
                div.appendChild(textp);
                productPricing.appendChild(div);

                div = document.createElement("div");
                div.setAttribute("class", "row");
                textA = document.createElement("h6");
                textA.innerHTML="Amount " + amount;
                div.appendChild(textA);
                productPricing.appendChild(div);
                
                div = document.createElement("div");
                div.setAttribute("class", "row");
                var btn = document.createElement("button")
                btn.innerHTML = "<h3>-</h3>";
                btn.setAttribute("class", "btn-outline-secondary col-6 decreaseAmount");
                btn.onclick = function(){//decrease amount of items
                    if(amount > 1){
                        amount--;
                        textp.innerHTML= json.Price*amount + " Kr";
                        textA.innerHTML="Amount " + amount;
                    }
                }
                div.appendChild(btn)

                btn = document.createElement("button")
                btn.innerHTML = "<h3>+</h3>";
                btn.setAttribute("class", "btn-outline-secondary col-6 addAmount");
                btn.onclick = function(){//increase amount of items
                    amount++;
                    textp.innerHTML= json.Price*amount + " Kr";
                    textA.innerHTML="Amount " + amount;
                }
                div.appendChild(btn)
                productPricing.appendChild(div)
                btn = document.createElement("button")
                btn.innerHTML = "Add to cart";
                btn.setAttribute("class", "btn btn-outline-primary btnAddToCart");

                


                btn.onclick = function(){//adds the product to the cart

                    var user = JSON.parse(localStorage.getItem("user"))
                    if(user == null){
                        localStorage.setItem("PrevPage", window.location.href);
                        window.location = "https://localhost:5000/"
                    }

                    var request = new XMLHttpRequest();
                    request.open("POST", "https://localhost:5000/Cart/?User_id="+user.user_id+"&Product_id="+json.Product_id+"&Amount="+amount, true);
                    request.onreadystatechange = function(){
                        if(this.readyState == 4 && this.status === 200){
                            var answer = window.confirm("Product added to cart, would you like to keep shopping?")
                            getcart();
                            if(!answer){ //go to Cart
                                window.location = "https://localhost:5000/cart/"
                            }
                        }
                        else if(this.readyState == 4 && this.status != 200){
                            
                            window.location = "https://localhost:5000/Login/"
                            
                        }
                    }
                    request.send()


                }
                div = document.createElement("div");
                div.setAttribute("class", "row");
                div.appendChild(btn)
                productPricing.appendChild(div)


                //displaying product description
                div = document.createElement("div");
                div.setAttribute("class", "row");
                var text = document.createElement("h3");
                text.innerHTML = "Product description";
                div.appendChild(text)
                document.getElementsByClassName("productDescription")[0].appendChild(div);

                div = document.createElement("div");
                div.setAttribute("class", "row");
            
                text = document.createElement("p");
                text.setAttribute("style", "border-top: solid red;")
                text.innerHTML = json.Description;
                div.appendChild(text)
                document.getElementsByClassName("productDescription")[0].appendChild(div);


                //displaying all of the products specifications
                var tables = json.Specification.split(";");
                var productSpecification = document.getElementsByClassName("productSpecification")[0];
                for(var i = 0; i < tables.length-1; i++){
                    var rows = tables[i].split(",");

                    var divC = document.createElement("div");
                    divC.setAttribute("class", "card p-0 border-primary mb-2")

                    var divH = document.createElement("div");
                    divH.setAttribute("class", "card-header border-primary bg-white")

                    var divB = document.createElement("div");
                    divB.setAttribute("class", "card-body pt-0 pb-0")

                    text = document.createElement("h3");
                    text.setAttribute("class", "productSpecicationTitle");
                    text.innerHTML = rows[0];
                    divH.appendChild(text)

                    //var list = document.createElement("ul");
                    //list.setAttribute("class", "productSpecicationList");
                    
                    for(var j = 1; j < rows.length; j++){
                        var divR = document.createElement("div");
                        divR.setAttribute("class", "row border-bottom");

                        div = document.createElement("div");
                        div.setAttribute("class", "col-6 p-0");
                        var values = rows[j].split(":");

                        text = document.createElement("p");
                        text.innerHTML = values[0];
                        div.appendChild(text);

                        //divB.appendChild(div);
                        divR.appendChild(div);

                        div = document.createElement("div");
                        div.setAttribute("class", "col-6 p-0");

                        text = document.createElement("p");
                        text.innerHTML = values[1];
                        div.appendChild(text);
                        divR.appendChild(div);

                        
                        divB.appendChild(divR);
                    }

                    divC.appendChild(divH);
                    divC.appendChild(divB);

                    productSpecification.appendChild(divC);
                }


                
            }
          
               
            var request = new XMLHttpRequest();
            request.open("GET", "https://localhost:5000/item/"+id+"/")
            request.onreadystatechange = function (){
                if(this.readyState == 4 && this.status){
                    var json = JSON.parse(this.responseText);
                    view(json);
                    //getcart();
                }

            }
            
            //getcart();
            request.send();
        


        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    </body>
    </html>