<html>
    <head>

    </head>
    <titler>Registration</titler>
    <link rel="stylesheet" href="../static/style.css">

    <meta charset="utf-8">
</head>

<body>

    <div class= "box">
        <form method="post"></form> 
        
        <p>You are required to fill in this form to create an account</p>
        <div class="reg-felt">
        <input type="text" placeholder="Enter Firstname" required>
       
        <input type="text" placeholder="Enter Lastname" required>

        <input type="email" placeholder="Enter email" required>

        <input type="text" placeholder="Create username" required>

        <input type="password" placeholder="Create password" required>

        <input type="checkbox" class="checkbox"><span>I accept the terms and conditions</span> 

        <button type="submit" class="btn">Register</button>

        </div>
    </div>

</body>

</html>