<html>
    <head>

    </head>
    <titler>Registration</titler>
    <link rel="stylesheet" href="../static/style.css">

    <meta charset="utf-8">
</head>

<body>

    <div class= "box">
        <form method="post" id = "form" action=""> 
        
        <p>You are required to fill in this form to create an account</p>
        <div class="reg-felt">
        <input type="text" placeholder="Enter Firstname" id= "firstname" required>
       
        <input type="text" placeholder="Enter Lastname" id= "lastname" required>

        <input type="email" placeholder="Enter email id" id = "email" required>

        <input type="text" placeholder="Create username" id = "username" required>

        <input type="password" placeholder="Create password" id= "password" required>

        <input type="checkbox" class="checkbox"><span>I accept the terms and conditions</span> 

        <button type="submit" onclick="submit2()" class="btn">Register</button>
        <button type="button" onclick="login()" class="tgl-btn">Log in</button>
        </div>
        </form>
    </div>
<script>
     
function login(){
    window.location="http://localhost:5000/Login/"
}
    function submit2(){
        alert("You account is being created")

        var form = document.getElementById("form");
        var firstname = document.getElementById("firstname");
        var lastname = document.getElementById("lastname");
        var email = document.getElementById("email");
        var username = document.getElementById("username");
        var password = document.getElementById("password");

        

        form.action = "http://localhost:5000/user/?Firstname="+firstname.value+"&Lastname="+lastname.value+"&Username="+username.value+"&Password="+password.value+"&Email="+email.value


    }

</script>
</body>

</html>